
.header {
    height: var(--header-height); 
    background-color: var(--white-color);
}

.header__background {
    background-image: linear-gradient(to bottom,#fff 0%,#f4f4f4 100%);
    background-repeat: repeat-x;
}

.header__background-content {
    max-width: 100%;
    float: left;
    margin: .8rem 0;
    cursor: pointer;
}

.header__navbar-inner {
    background-color: #27323a;
}

.header__navbar-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header__navbar-list li {
    padding: 0 15px;
    position: relative;
}

.header__navbar-list>.header__navbar-search-item{
    float: right;
}


.header__navbar-list li a{
    text-decoration: none;
    display: block;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
    padding: .6rem .1rem;
}

.header__navbar-lock-item,
.header__navbar-home-item {
    background-color: var(--primary-color);
}

.header__navbar-lock-item:hover,
.header__navbar-home-item:hover {
    background-color: #e32231;
}

.header__navbar-search-item {
    background-color: #C2C2C2;
    margin: 0 4px;
}
.header__navbar-item:hover {
    cursor: pointer;
    background-color: #4c4c4c;
}

.header__navbar-arrow-down {
    font-size: 0.6rem;
}

.header__navbar-dropdown:hover .header__navbar-dropdown-list{
    display: block;
}

.header__navbar-dropdown-list {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    animation: headerNotifyGrowth linear 0.2s;
    transform-origin: calc(100% - 32px) top bottom;
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-dropdown-list li{
    padding-left: 0;
    padding-right: 0;
}

.header__navbar-dropdown-list li a{
    border-bottom: solid 1px #d5d5d5;
    background-color: #f4f4f4;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 1rem;
    color: #cf1628;
    display: block;
}

.header__navbar-dropdown-list li a:hover {
    background-color: #C2C2C2;
}

/* Authen modal */
/* Thanh cuộn */

.modal__register {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__register.open {
    display: flex;
}

.modal__log-in {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__log-in.open {
    display: flex;
}

.scrollable-container {
    max-height: 600px;
    overflow-y: auto;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.auth-form {
    width: 545px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
    padding: 30px;
}

.auth-form__close {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding: 24px;
    cursor: pointer;
    opacity: 0.8;
}

.auth-form__close:hover {
    opacity: 1;
}

.auth-form__header,
.auth-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form__header {
    margin-top: 50px;
    width: 100%;
}

.auth-form__logo-img {
    border-radius: 8px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    text-align: center;
}

.auth-form__heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 12px 0;
    width: 100%;
    text-align: center;
}

.auth-form__description {
    color: #f33a58;
    width: min(400px, 90%);
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.modal__label {
    display: block;
    font-size: 1rem;
    margin-top: 12px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 0 12px;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__control {
    margin-top: 32px;
}

.auth-form__Btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
}

.auth-form__Btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.auth-form__log-in {
    margin-top: 18px;
    font-size: 1rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__log-in-link {
    color: #f33a58;
}

.auth-form__aside {
    margin-top: 18px;
    font-size: 0.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: #f33a58;
}

.slider {
    background-color: var(--white-color);
}

.slider__img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.content__section {
    padding-top: 40px;
    padding-bottom: 10px;
}

.content__section-inner {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.content__section-title {
    position: relative;
    margin: 0 0 30px 0;
    padding-bottom: 10px;
}

.content__section-title-text {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 400;
    color: #cf1628;
    line-height: 1.2;
}

.content__section-title-text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 1px;
    border-bottom: solid 3px var(--primary-color);
}

.content__section-intro {
    text-align: justify;
    margin-bottom: 15px;
}

.content__section-intro span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
}

.btn-lg {
    padding: .58rem 1.8rem;
    font-size: 1.25rem;
    line-height: 2.0875rem;
    border-radius: .15rem;
}

.btn-icon-before {
    margin: 20px 0 30px 0;
}

.content__section-img {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
}

.content__section-img-box {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-bottom: 30px;
}

.content__section-img-link {
    padding: 0;
    text-align: center;
    object-fit: cover;
}

.content__description {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: rgb(244, 244, 244);
}

.content__description-box {
    padding-left: 15px;
    padding-right: 15px;
    float:left;
    margin-bottom: 30px;
    width: 100%;
}

/* .content__description-box-container {

} */

.content__description-box-icon {
    display: block;
    background-color: rgba(0, 0, 0, 0.08);
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
    line-height: 100px;
    text-align: center;
    font-size: 48px;
    color: var(--primary-color);
    position: relative;
    cursor: pointer;
}

.content__description-box-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    border-bottom: solid 3px var(--primary-color);
}

.content__description-box-infor {
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
}

.content__description-box-infor h4 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: 400;
    color: #cf1628;

}